@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ===== VARIÁVEIS ===== */
:root {
  --primary: #1da1f2;
  --blue-primary: #61c1d1;
  --blue-inactive: #657786;
  --primary-light: #e8f5fe;
  --secondary: #ffad1f;
  --accent: #17bf63;
  --like: #ff1493;
  --error: #e0245e;
  --white: #ffffff;
  --light-gray: #f5f8fa;
  --medium-gray: #e1e8ed;
  --dark-gray: #657786;
  --gray-inactive: #aaaaaa33;
  --black-inactive: #25252565;
  --border: #aaa;
  --preto-ativo: #252525;
  --dark: #14171a;
  --border-radius: 15px;
  --border-radius-sm: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --transition: all 0.2s ease;
}

/* ===== ESTILOS GERAIS ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE	;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 0.5px solid #bebebe;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar img {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
}
.sidebar ul {
  list-style: none;
  display: flex;
  justify-content: column;
  align-items: left;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  outline: none;
}
.sidebar ul li {
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  list-style-type: none;
  list-style: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.sidebar ul li i {
  margin-right: 10px;
  font-size: 20px;
}
.sidebar ul li:hover {
  background: #f1f5f9;
  border-radius: 8px;
}
.sidebar ul li.active {
  color: #64c1ff;
  font-weight: bold;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #64c1ff;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.button i {
  margin-left: 8px;
  font-size: 20px;
}
.button:hover {
  background: #42a5f5;
}
.button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonOff {
  display: inline-block;
  background: #dadadb;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.buttonOff:hover {
  transition: 0.3s;
  background: red;
}

.buttonOff i {
  color: #ffffff;
}
/* Responsividade */
.menu-btn {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1002;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .menu-btn {
    display: block;
  }
  .menu-btn.hidden {
    display: none;
  }
  .overlay.active {
    display: block;
  }
}

.header-menu{
  background-color: red;
}

.content {
  width: 65%;
  height: auto;
  margin: 5%;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.principal-content {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100vh;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
label {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--preto-ativo);
  font-size: 18px;
}
input[type="file"] {
  width: 100%;
  margin-bottom: 10px;
}
span{
  color: var(--blue-primary);
}
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 100px;
  resize: none;
  user-select: none;
  outline: none;
}
.preview {
  margin: 15px 0;
}
.preview img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-bottom: 10px;
}
input[type="submit"] {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.progress-info {
  margin-bottom: 20px;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-info p{
  margin-bottom: 10px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
i{
  color: var(--blue-primary);
}