@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
}
.header-menu{
  width: 15%;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 0.5px solid #bebebe;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar img {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
}
.sidebar ul {
  list-style: none;
  display: flex;
  justify-content: column;
  align-items: left;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  outline: none;
}
.sidebar ul li {
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  list-style-type: none;
  list-style: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.sidebar ul li i {
  margin-right: 10px;
  font-size: 20px;
}
.sidebar ul li:hover {
  background: #f1f5f9;
  border-radius: 8px;
}
.sidebar ul li.active {
  color: #64c1ff;
  font-weight: bold;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #64c1ff;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.button i {
  margin-left: 8px;
  font-size: 20px;
}
.button:hover {
  background: #42a5f5;
}
.button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonOff {
  display: inline-block;
  background: #dadadb;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.buttonOff:hover {
  transition: 0.3s;
  background: red;
}

.buttonOff i {
  color: #ffffff;
}
/* Responsividade */
.menu-btn {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1002;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .menu-btn {
    display: block;
  }
  .menu-btn.hidden {
    display: none;
  }
  .overlay.active {
    display: block;
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.principal-content {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.capa-perfil {
  width: 100%;
  height: 45vh;
  position: relative;
}

.capa-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-user-perfil {
  width: 100%;
  display: flex;
  justify-content: center;
}

.foto-perfil {
  left: 23%;
  z-index: 10;
  width: 300px;
  height: 300px;
  display: flex;
  aspect-ratio: 1;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  top: calc(100% - 71vh);
  justify-content: center;
  transform: translateX(-50%);
  border: 7px solid white;
  cursor: pointer;
  transition: transform 0.3s;
}

.foto-perfil img {
  width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 100000;
}
.overlay img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.info-perfil {
  margin: 10px 30px 0 20px;
  width: 100%;
  text-align: left;
  display: flex;
}

.nomes-perfil {
  margin-left: 21%;
  width: 60%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.nome-perfil {
  font-size: 1.5rem;
  font-weight: bold;
}

.arroba-perfil {
  font-size: 17px;
  font-weight: 400;
  color: #555;
}

.buton-editar-perfil {
  background-color: #61c1d1;
  padding: 10px;
  width: 200px;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  white-space: nowrap;
}

.buton-editar-perfil:hover {
  transition: ease-in-out 0.3s;
  background-color: #49a9b9;
}

.buton-editar-perfil:active {
  transition: ease-in-out 0.3s;
  background-color: #3a737d;
  box-shadow: rgba(83, 165, 190, 0.16) 0px 10px 36px 0px,
    rgba(75, 203, 207, 0.06) 0px 0px 0px 1px;
}

.bio-perfil {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-right: 10%;
  padding-left: 28%;
  align-items: center;
}

.bio-content-perfil {
  width: 100%;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  text-align: left;
  padding-left: 10%;
}

.bio-content-perfil h5 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.info-contagem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contagem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12.2rem;
}

.contagem-entrada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.contagem-entrada h4 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #252525;
}

.contagem-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.contagem-item p {
  font-size: 1.3rem;
  font-weight: bold;
}

.contagem-item h4 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #252525;
}

.tab-content {
  display: none;
  width: 60%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.tab-content.active {
  display: block;
}

.content-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-info-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.content-info-usuario img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.content-info-usuario h1 {
  font-size: 20px;
  font-weight: bold;
  color: #252525;
}

.content-info-usuario h4 {
  font-size: 15px;
  font-weight: 400;
  color: #555;
}

.content-info-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-info-review p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #000;
}

.content-info-review-stars i {
  font-size: 20px;
  color: #f1c40f;
}

.content-review-book {
  display: flex;
  gap: 25px;
  padding: 15px;
  border: 1px solid #3b3b3b48;
  border-radius: 10px;
}
.content-review-book img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.content-review-media-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.content-book-names {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-book-names h1 {
  font-size: 20px;
  font-weight: bold;
  color: #252525;
}

.content-book-names h4 {
  font-size: 15px;
  font-weight: 400;
  color: #555;
}

.content-book-year-note {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-book-year-note h4 {
  font-size: 15px;
  font-weight: 200;
  color: #252525;
}

.content-book-note {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-book-note p {
  font-size: 17px;
  color: #f1c40f;
  font-weight: bold;
}

.content-book-note i {
  color: #f1c40f;
}

.content-book-description {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.content-info-interaction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50%;
}

.tab-content-favorites {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-favorites {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
}

.card-favorite {
  width: 180px;
  font-size: 18px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.card-favorite img {
  width: 150px;
  border-radius: 5px;
  height: auto;
  object-fit: cover;
}

.card-favorite-icon {
  z-index: 10;
  display: flex;
  aspect-ratio: 1;
  overflow: hidden;
  position: absolute;
  margin: 1% 0 -7px 7%;
}

.card-favorite-icon i {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  font-size: 22px;
  color: #f91880;
}

.content-contagem-item {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.content-contagem-item i {
  font-size: 25px;
  cursor: pointer;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.popup {
  background: white;
  padding: 20px;
  width: 750px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.popup .btn-send {
  background: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
.popup .btn-close {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.top-content {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.user-content {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  row-gap: 5px;
}

.user-content img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.review-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.review-content textarea {
  width: 100%;
  padding: 8px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 22px;
  line-height: 25px;
  overflow: hidden;
  color: #252525;
}

.icons-content {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.icons-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.icon-class {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-class i {
  font-size: 20px;
  color: #61c1d1;
}

.btn-submit {
  background-color: #61c1d1;
  padding: 10px;
  width: 150px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  white-space: nowrap;
}

.btn-submit:hover {
  transition: ease-in-out 0.3s;
  background-color: #49a9b9;
}

.btn-submit:active {
  transition: ease-in-out 0.3s;
  background-color: #3a737d;
  box-shadow: rgba(83, 165, 190, 0.16) 0px 10px 36px 0px,
    rgba(75, 203, 207, 0.06) 0px 0px 0px 1px;
}

.popup-editar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.popup-editar {
  background: white;
  padding: 20px;
  width: 55%;
  height: 70%;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup-editar .btn-closeEdicao {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.popup-editar form {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 0 15% 0 15%;
}

.content-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-form-imgs {
  display: flex;
  gap: 20px;
}

.content-profile-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-nome {
  width: 100%;
  padding: 10px;
  background-color: #fefefe;
  margin: 10px 0;
  border: none;
  user-select: none;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-profile-item textarea {
  width: 100%;
  resize: none;
  font-size: 16px;
  color: #252525;
  background-color: #fefefe;
  border: none;
  user-select: none;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.input-arroba {
  width: 100%;
  padding: 10px;
  background-color: #fefefe;
  margin: 10px 0;
  border: none;
  user-select: none;
  outline: none;
  border-radius: 0 5px 5px 0;
}

.content-user-arroba {
  width: 100%;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-user-arroba span {
  font-size: 15px;
  color: #ccc;
  font-weight: bold;
  padding: 9px 0 9px 9px;
  border-radius: 5px 0 0 5px;
}

#picture__input {
  display: none;
}

.picture {
  width: 100%;
  height: 155px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
  object-fit: cover;
}

#picture__input_perfil {
  display: none;
}

.picture_perfil {
  width: 100%;
  height: 155px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
}

.picture_perfil:hover {
  color: #777;
  background: #ccc;
}

.picture_perfil:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture_perfil:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img_perfil {
  max-width: 100%;
  object-fit: cover;
}

.content-form label {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #252525;
}

#btnEditProfile {
  background-color: #61c1d1;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* POPUP DA REVIEW */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

a {
  outline: none;
  list-style: none;
  text-decoration: none;
  color: #252525;
  transition: all 0.2s ease;
}

a:hover {
  transition: all 0.2s ease;
  color: #1877f2;
}

input[type="submit"] {
  background: #1877f2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background: #145dbf;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.popup {
  background: white;
  padding: 20px;
  width: 750px;
  height: auto;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.popup .btn-send {
  background: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.btn-close-content {
  display: flex;
  justify-content: left;
  align-items: left;
}

.btn-top-content{
    display: flex;
    flex-direction: row;
    gap: 35%;
}
.popup .btn-close {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

#iconeImagem {
  cursor: pointer;
  font-size: 20px;
  color: #61c1d1;
}

#iconeImagem:hover {
  color: #4c96a3;
}

#inputImagem {
  display: none;
}

#previewDiv {
  display: none;
  text-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentPreview {
  width: 50%;
}

#previewImg {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.preview-text {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.review-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: left;
  gap: 20px;
}

form textarea {
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  padding: 8px;
  outline: none;
  border: none;
  resize: none;
  font-size: 22px;
  line-height: 25px;
  overflow: hidden;
  color: #252525;
}

.icons-content {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.icons-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.icon-class {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-class i {
  font-size: 20px;
  color: #61c1d1;
}

.btn-submit {
  background-color: #61c1d1;
  padding: 10px;
  width: 150px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  white-space: nowrap;
}

.btn-submit:hover {
  transition: ease-in-out 0.3s;
  background-color: #49a9b9;
}

.btn-submit:active {
  transition: ease-in-out 0.3s;
  background-color: #3a737d;
  box-shadow: rgba(83, 165, 190, 0.16) 0px 10px 36px 0px,
    rgba(75, 203, 207, 0.06) 0px 0px 0px 1px;
}

/* FIM DO POPUP DA REVIEW */

.posts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.tabs-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs-container img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  color: #666;
  transition: color 0.3s ease;
}
.tab.active {
  font-weight: bold;
  color: #61c1d1;
  border-bottom: 3px solid #61c1d1;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.contentPosts {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.contentPosts.active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.containerContent{
  background-color: red;
  width: 55%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
