@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../Assets/BackgroundContatoVersami.png");
  background-size: cover;
}

header {
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 1.25rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 7.5rem;
  margin-right: 0.625rem;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 50rem;
  list-style: none;
}

.nav-links li {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 1.125rem;
  padding-bottom: 0.313rem;
  position: relative;
  transition: all 0.5s;
}

.nav-links a:hover,
.nav-links a.active {
  transition: all 0.5s;
  border-bottom: 0.188rem solid #4ae1fc;
  color: #ffffff;
}

.user-icon {
  cursor: pointer;
  transition: all 0.5s;
}

.user-icon a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.user-icon span {
  font-size: 2.188rem;
}

.user-icon a:hover {
  transition: all 0.5s;
  color: #4ae1fc;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #333;
  padding: 2.5rem 1.25rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 75rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.newsletter h2 {
  font-size: 1.5rem;
  color: white;
}

.newsletter h1 {
  font-size: 3.063rem;
  border-bottom: 0.188rem solid #61c1d1;
  margin-bottom: 0.938rem;
}

.newsletter span {
  color: #34a7c1;
}

.middle {
  display: inline;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}

.social-links a i {
  font-size: 1.563rem;
  margin-right: 1.875rem;
  color: #cccccc;
  transition: all 0.5s;
}

.social-links a i:hover {
  color: #61c1d1;
  transition: all 0.5s;
}

.social-links a i:last-child {
  margin-right: 0;
}

.social-image {
  margin-bottom: 3.125rem;
}

.social-image img {
  width: 12.5rem;
  margin-bottom: 0.625rem;
}

.about h4 {
  font-size: 1.5rem;
  margin-bottom: 0.938rem;
}

.pRedes {
  text-align: center;
  margin-bottom: 1.875rem;
}

.about p {
  color: #cccccc;
  max-width: 18.75rem;
}

form {
  display: flex;
  margin-top: 0.625rem;
}

form input {
  padding: 0.625rem;
  border: none;
  border-radius: 0.313rem;
  margin-right: 0.625rem;
  outline: none;
}

.btnFooter {
  font-family: "Montserrat", sans-serif;
  background-color: #61c1d1;
  background-image: linear-gradient(180deg, #61c1d1 0%, #3a737d 100%);
  color: white;
  border: none;
  border-radius: 0.313rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.btnFooter:hover {
  transition: color 0.9s;
  background-color: #298e9b;
  background-image: linear-gradient(90deg, #61c1d1 0%, #3a737d 100%);
}

/* NÃO MUDE NADA DAQUI PRA CIMA */

.telaPrincipal {
  width: 100%;
  overflow: hidden;
}

.containerLeft {
  padding: 3.75rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 5rem;
}

.containerLeft h2 {
  font-size: 2.375rem;
  border-bottom: 0.188rem solid #61c1d1;
  margin-bottom: 1.875rem;
  text-shadow: 0.063rem 0.063rem 0.125rem #252525;
}

.containerLeft p {
  margin-bottom: 1.875rem;
  line-height: 1.563rem;
}

.telaMeio {
  max-width: 100%;
  position: relative;
  top: -9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
}

.cardContato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-left: 5rem;
}

.cardContato i {
  font-size: 2.813rem;
}

.cardContent {
  background-color: #ffffff;
  border-radius: 0.625rem;
  width: 15.625rem;
  height: 11.875rem;
}

.cardContent h2 {
  color: #767575;
  font-size: 1.188rem;
  text-align: center;
  margin-bottom: 2.813rem;
  margin-top: 1.25rem;
}

.cardContent p {
  font-size: 1.063rem;
  color: #61c1d1;
  text-align: center;
  line-height: 1.25rem;
}

.cardFormulario {
  background-color: #ffffff;
  width: 30vw;
  min-height: 50vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  box-shadow: 0 0.625rem 1.875rem 0.313rem rgba(0, 0, 0, 0.2);
}

.cardFormulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.cardFormulario h2 {
  color: #333333;
  margin-top: 1.25rem;
}

.buttonPT {
  width: 40%;
  height: 10%;
  color: #252525;
  border: 0.125rem solid #4ae1fc;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.313rem 0.938rem;
  border-radius: 0.5rem;
  font-size: 0.938rem;
  letter-spacing: 0.188rem;
  cursor: pointer;
  transition: all 0.5s;
}

.buttonPT:hover {
  transition: all 0.9s;
  color: #252525;
  opacity: 0.5;
  border: 0.125rem solid #34a7c1;
  box-shadow: rgba(1, 196, 255, 0.63)
}

.buttonPT i { font-size: 0.938rem; }

.buttonPT:hover i {
  transition: all 0.5s;
  transform: translateX(0.25rem);
  color: #4ae1fc;
}

.inptEntrada {
  width: 90%;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  padding: 0.938rem;
  border-radius: 0.313rem;
}

textarea {
  resize: none;
  width: 90%;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  padding: 0.938rem;
  border-radius: 0.313rem;
}

.telaApp {
  background-color: #607d8b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerEsquerdoApp {
  max-width: 39.375rem;
  text-align: center;
}

.containerEsquerdoApp h2 {
  font-size: 2.375rem;
  margin-bottom: 1.875rem;
  text-shadow: 0.063rem 0.063rem 0.125rem #252525;
}

.containerEsquerdoApp p {
  margin-bottom: 1.875rem;
  line-height: 1.563rem;
}

.containerEsquerdoApp span {
  font-size: 2.375rem;
  border-bottom: 0.188rem solid #61c1d1;
  margin-bottom: 1.875rem;
  text-shadow: 0.063rem 0.063rem 0.125rem #252525;
}

.containerEsquerdoApp img {
  width: 10.625rem;
}

.containerDireitoApp {
  max-width: 50%;
  text-align: center;
}

.containerDireitoApp img {
  width: 100%;
}

@media (max-width: 1200px) {
  .user-icon {
    display: none;
  }

  .logo {
    margin-right: 3%;
  }

  .cardsContainer{
    align-items: center;
    justify-content: center;
  }

  .cardFormulario {
    width: 70vw;
    height: 40vh;
  }

}

@media (max-width: 750px) {
  body {
    overflow-x: hidden;
  }
  
  .footer-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .logo {
    width: 15%;
    margin-right: 3%;
  }

  .cardContato {
    margin: 0;
  }

  .logo img {
    width: 100%;
    content: url('../../Assets/versamiLogo.png');
  }

  .cardsContainer {
    flex-direction: column;
    gap: 2rem;
    padding: 3%;
  }

  .containerLeft {
    width: 100vw;
    margin: 0;
    padding: 2rem;
    margin-bottom: 15%;
  }

  .telaMeio {
    top: 0;
  }

  .cardFormulario {
    width: 90vw;
  }
}
