:root{
    --versami-cor1: #61c1d1;
    --versami-cor2: #6189d1;
    --versami-cor3: #333333;
    --versami-cor4: #607d8b;
    --versami-cor5: #ffffff;
    --versami-cor6: #f5f5f5;
    --versami-cor7: #3a737d;
}

body{
    background-image: url(../Assets/backgroundIndex.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.principal {
    width: 45vw;
    min-height: 70vh;
    border-radius: 10px;
    background-color: var(--versami-cor6);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    z-index: 1;
}

.form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tituloPrinc{
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.versami{
    border-bottom: solid var(--versami-cor1);
}

.titulo1{
    text-align: center;
    color: var(--versami-cor1);
    font-weight: normal;
    margin-bottom: 1rem;
}

.msg {
    background-color: var(--versami-cor1);
    border-radius: 10px;
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    z-index: 5;

}

.msgTitulo{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.msgTexto{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.msgindex{
    margin-left: -20px;
    z-index: 5;
}

.entrada {
    width: 90%;
}

.btnCadastro{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF  ;
    text-decoration: none;
    border-radius: 8px;
    outline: none;
}

.required{
    color: var(--versami-cor3);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

input[type="date"]{
    width: 90%;
    
}

input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 70%;
}

.envelope {
    background-color: var(--versami-cor5);
    width: 70%;
    margin-bottom: 1rem;
    margin-right: 0.625rem;
    border: none;
    border-radius: 5px;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#alerta{
    text-align: center;
    font-size: 12px;
    visibility: hidden;
}

.btnPersonalizar {
    font-family: "Montserrat", sans-serif;
    background-color: #61c1d1;
    background-image: linear-gradient(180deg, #61c1d1 0%, #3a737d 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btnPersonalizar:hover {
    transition: color 0.9s;
    background-color: #298e9b;
    background-image: linear-gradient(90deg, #61c1d1 0%, #3a737d 100%);
  }

div.carregando{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 12px solid var(--versami-cor3);
    border-radius: 50%;
    border-right: 12px solid transparent;
    animation: carregando 1s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    z-index: 9999;
}

@keyframes carregando{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@media (max-width:750px) {
    main{
        display: flex;
        flex-direction: column-reverse;
    }

    .msg{
        width: 95%;
        height: 30vh;
    }

    div.principal{
        width: 95%;
        min-height: 45vh;
        margin-right: 0;
        margin-top: -15%;
    }
}




