<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Livros, Rede Social, Avaliações" />
    <meta
      name="description"
      content="Versami, sua rede social para conectar leitores de todos os gêneros literários. Aqui, você pode avaliar, descobrir e compartilhar livros, criando uma comunidade engajada de apaixonados por leitura."
    />
    <meta
      name="author"
      content="Julia Maria, Matheus Canesso, Thamiris Fernandes, Ygor Silva"
    />
    <link rel="shortcut icon" href="../../Assets/favicon.png" type="favicon" />
    <link rel="icon" href="../Assets/iconVersami.png">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/17dd42404d.js"
      crossorigin="anonymous"
    ></script>
    <script src="http://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../JS/user-login.js"></script>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/Style-headerfooter.css">
    <title>Versami | Crie sua conta</title>
</head>
<body>
    <header class="glass">
        <nav>
          <div class="logo">
            <img src="../../Assets/logoVersamiBlue.png" alt="Logo Versami" />
          </div>
          <ul class="nav-links">
            <li><a href="../../Index/HTML/Index.html" id="inicio-link" class="active">Início</a></li>
            <li><a href="../../Sobre/HTML/Sobre.html" id="sobre-link">Sobre nós</a></li>
            <li><a href="../../Blog/HTML/Blog.html" id="blog-link">Blog</a></li>
            <li><a href="../../Contato/HTML/Contato.html" id="contato-link">Contato</a></li>
          </ul>
          <div class="user-icon">
            <span class="material-icons-outlined"
              ><a href="../../Login/HTML/login.html"> account_circle </a></span
            >
          </div>
        </nav>
      </header>
      
        <h1 class="tituloPrinc">Descubra agora a <span class="versami">Versami!</span></h1>
    
    <main>
        
    <div class="msg">
        <h1 class="msgTitulo">Bem vindo(a)
          <br>de volta!</h1>
        <p class="msgTexto">Acesse agora sua conta e
          <br>avalie seus livros favoritos!</p>
          <a class="btnLogin" href="../../Login/HTML/login.html">Entrar <i class="fa-solid fa-chevron-right"></i></a>
    </div>

    <div class="principal">
        <h2 class="titulo1">Criar Conta</h2>
        <span id="alerta">Mensagem</span>
        <form id="form" class="form" autocomplete="off">
            
            <div class="envelope">
                <i class="material-icons-outlined required">person</i>
                <input type="text" name="nome" id="nome" maxlength="50" class="entrada" placeholder="Nome completo">
            </div>
                
            <div class="envelope">
                <i class="material-icons-outlined required">alternate_email</i>
                <input type="text" name="login" id="login" class="entrada" placeholder="Nome de usuário" >
            </div>

            <div class="envelope">
                <i class="material-icons-outlined required">calendar_today</i>
                <input type="date" name="nasc" id="nasc" placeholder="Data de Nascimento" >
            </div>

            <div class="envelope">
                <i class="material-icons-outlined required">mail</i>
                <input type="email" name="email" id="email" maxlength="80" class="entrada" placeholder="E-mail" >
            </div>

            <div class="envelope">
                <i class="material-icons-outlined required">lock</i>
                <input type="password" name="senha" id="senha" class="entrada" placeholder="Digite sua senha" >
            </div>

            <div class="envelope">
                <i class="material-icons-outlined required">lock</i>
                <input type="password" name="confirma" id="confirma" class="entrada" placeholder="Confirme sua senha">
            </div>

            
            <input type="submit" value="Criar conta" id="enviar" class="btnPersonalizar">
        </form>
    </div>
    </main>
    <div class="carregando" id="carregando"></div>


    <footer>
        <div class="footer-content">
          <div class="newsletter">
            <h4>Acompanhe nossa</h4>
            <h1>Newsletter</h1>
            <form>
              <input type="email" placeholder="Seu email" required />
              <button type="submit">Inscrever-se</button>
            </form>
          </div>
  
          <div class="middle">
            <div class="social-image">
              <img src="../../Assets/logoVersami.png" alt="Logo Versami" />
            </div>
  
            <p class="pRedes">Siga nossas redes sociais</p>
  
            <div class="social-links">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
              <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <p>2024 | Versami Corporation &copy; </p>
          </div>
  
          <div class="about">
            <h4>Sobre nós</h4>
            <p>
              Somos uma rede social voltada para conectar leitores de todos os
              gêneros literários. Aqui, você pode avaliar, descobrir e
              compartilhar livros, criando uma comunidade engajada de apaixonados
              por leitura. Acesse pelo site ou aplicativo Android!
            </p>
          </div>
        </div>
      </footer>

      <script src="../JS/Script.js"></script>
</body>
</html>