:root{
    --versami-cor1: #61c1d1;
    --versami-cor2: #6189d1;
    --versami-cor3: #333333;
    --versami-cor4: #607d8b;
    --versami-cor5: #ffffff;
    --versami-cor6: #f5f5f5;
    --versami-cor7: #3a737d;
}

body{
    background-color: var(--versami-cor3);
}

main{
    width: 100vw;
    height: 80vh;
    background-color: var(--versami-cor5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.msgTitulo{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.msgTexto{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.msg{
    width: 50%;
    color: #000000;
}

.container{
    width: 30%;
}

.imagem {
    width: 100%;
}